Table of Contents
1 Imports
2 Discord Values recolor
3 Settings
        3.1 My account ( ο λογαριασμος μου )
               3.1.1 Προφιλ
                    3.1.2 Απορρητο & Ασφαλεια 
                    3.1.3 Κέντρο οικογένειας
                    3.1.4 Εξουσιοδοτημένες εφαρμογές

4 Fonts
        4.1 Display Font
        4.2 Text Font
        4.3 Names, Titles, and Headers Font
5 Load/Disconnect + Crash 
6 Scrollerbars
7 Modals
        7.1 General Modal
        7.2 Server Create/Join Modal
        7.3 Custom Status Modal
        7.4 Quick Switcher Modal
        7.5 Keyboard Combo Modal
        7.6 Upload Modal
        7.7 Profile Modal
8 Popouts
        8.1 General Popout
        8.2 Pins Popout
        8.3 Context Menu Popout
        8.4 Inbox
        8.5 Profile Popout
9 Titlebar
        9.1 General Titlebar
        9.2 Mac OS Buttons


/* 1. Imports */
@import url(https://nikospepponis.github.io/links/den-xero-ti-kanoyn.theme.css);
@import "https://nyri4.github.io/Discolored/main.css";

/* 2. Discord Values recolor*/
:root {
    --green-360: green !important;
    --primary-400: rgba(255, 255, 255, 0.623);
    --red-400: rgb(146, 0, 0) !important;
    --main-color: #2780e6;
}
.theme-dark:not(.userProfileOuter__46bb7) {
    --guild-header-text-shadow: 0 1px 1px hsl(var(--black-500-hsl)/0.4);
    --elevation-stroke: 0 0 0 1px hsl(var(--primary-900-hsl)/0.15);
    --elevation-low: 0 1px 0 hsl(var(--primary-900-hsl)/0.2),0 1.5px 0 hsl(var(--primary-860-hsl)/0.05),0 2px 0 hsl(var(--primary-900-hsl)/0.05);
    --elevation-medium: 0 4px 4px hsl(var(--black-500-hsl)/0.16);
    --elevation-high: 0 8px 16px hsl(var(--black-500-hsl)/0.24);
    --shadow-border: 0 0 0 1px hsla(0,0%,100%,0.08);
    --shadow-border-filter: drop-shadow(0 0 1px hsla(0,0%,100%,0.08));
    --shadow-button-overlay: 0 12px 24px 0 rgba(0,0,0,0.24);
    --shadow-button-overlay-filter: drop-shadow(0 12px 24px rgba(0,0,0,0.24));
    --shadow-high: 0 12px 24px 0 rgba(0,0,0,0.24);
    --shadow-high-filter: drop-shadow(0 12px 24px rgba(0,0,0,0.24));
    --shadow-ledge: 0 2px 0 0 rgba(0,0,0,0.05),0 1.5px 0 0 rgba(0,0,0,0.05),0 1px 0 0 rgba(0,0,0,0.16);
    --shadow-ledge-filter: drop-shadow(0 1.5px 0 rgba(0,0,0,0.24));
    --shadow-low: 0 1px 4px 0 rgba(0,0,0,0.14);
    --shadow-low-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.14));
    --shadow-low-active: 0 0 4px 0 rgba(0,0,0,0.14);
    --shadow-low-active-filter: drop-shadow(0 0 4px rgba(0,0,0,0.14));
    --shadow-low-hover: 0 4px 10px 0 rgba(0,0,0,0.14);
    --shadow-low-hover-filter: drop-shadow(0 4px 10px rgba(0,0,0,0.14));
    --shadow-medium: 0 4px 8px 0 rgba(0,0,0,0.16);
    --shadow-medium-filter: drop-shadow(0 4px 8px rgba(0,0,0,0.16));
    --shadow-mobile-navigator-x: 0 0 10px 0 rgba(0,0,0,0.22);
    --shadow-mobile-navigator-x-filter: drop-shadow(0 0 10px rgba(0,0,0,0.22));
    --shadow-top-high: 0 -12px 32px 0 rgba(0,0,0,0.24);
    --shadow-top-high-filter: drop-shadow(0 -12px 32px rgba(0,0,0,0.24));
    --shadow-top-ledge: 0 -2px 0 0 rgba(0,0,0,0.05),0 -1.5px 0 0 rgba(0,0,0,0.05),0 -1px 0 0 rgba(0,0,0,0.16);
    --shadow-top-ledge-filter: drop-shadow(0 -1.5px 0 rgba(0,0,0,0.24));
    --shadow-top-low: 0 -1px 4px 0 rgba(0,0,0,0.14);
    --shadow-top-low-filter: drop-shadow(0 -1px 4px rgba(0,0,0,0.14));
    --activity-card-background: var(--primary-700);
    --android-navigation-bar-background: var(--primary-830);
    --android-navigation-scrim-background: hsl(var(--primary-830-hsl)/0.5);
    --android-ripple: hsl(var(--white-500-hsl)/0.07);
    --background-accent: var(--primary-530);
    --background-floating: var(--primary-800);
    --background-mentioned: hsl(var(--yellow-300-hsl)/0.1);
    --background-mentioned-hover: hsl(var(--yellow-300-hsl)/0.08);
    --background-message-automod: hsl(var(--red-400-hsl)/0.05);
    --background-message-automod-hover: hsl(var(--red-400-hsl)/0.1);
    --background-message-highlight: hsl(var(--brand-360-hsl)/0.08);
    --background-message-highlight-hover: hsl(var(--brand-360-hsl)/0.06);
    --background-message-hover: hsl(var(--primary-900-hsl)/0.06);
    --background-mobile-primary: var(--primary-600);
    --background-mobile-secondary: var(--primary-630);
    --background-modifier-accent: hsl(var(--primary-500-hsl)/0.48);
    --background-modifier-active: hsl(var(--primary-500-hsl)/0.48);
    --background-modifier-hover: hsl(var(--primary-500-hsl)/0.3);
    --background-modifier-selected: hsl(var(--primary-500-hsl)/0.6);
    --background-nested-floating: var(--primary-630);
    --background-primary: var(--primary-600);
    --background-secondary: var(--primary-630);
    --background-secondary-alt: var(--primary-660);
    --background-tertiary: var(--primary-700);
    --black: var(--black-500);
    --border-strong: hsl(var(--white-500-hsl)/0.16);
    --border-subtle: hsl(var(--white-500-hsl)/0.08);
    --bug-reporter-modal-submitting-background: hsl(var(--primary-800-hsl)/0.6);
    --button-creator-revenue-background: var(--teal-430);
    --button-danger-background: var(--red-430);
    --button-danger-background-active: var(--red-530);
    --button-danger-background-disabled: var(--red-430);
    --button-danger-background-hover: var(--red-500);
    --button-outline-brand-background: hsl(var(--white-500-hsl)/0);
    --button-outline-brand-background-active: var(--brand-560);
    --button-outline-brand-background-hover: var(--brand-500);
    --button-outline-brand-border: var(--brand-500);
    --button-outline-brand-border-active: var(--brand-560);
    --button-outline-brand-border-hover: var(--brand-500);
    --button-outline-brand-text: var(--white-500);
    --button-outline-brand-text-active: var(--white-500);
    --button-outline-brand-text-hover: var(--white-500);
    --button-outline-danger-background: hsl(var(--white-500-hsl)/0);
    --button-outline-danger-background-active: var(--red-460);
    --button-outline-danger-background-hover: var(--red-430);
    --button-outline-danger-border: var(--red-400);
    --button-outline-danger-border-active: var(--red-430);
    --button-outline-danger-border-hover: var(--red-430);
    --button-outline-danger-text: var(--white-500);
    --button-outline-danger-text-active: var(--white-500);
    --button-outline-danger-text-hover: var(--white-500);
    --button-outline-positive-background: hsl(var(--white-500-hsl)/0);
    --button-outline-positive-background-active: var(--green-530);
    --button-outline-positive-background-hover: var(--green-430);
    --button-outline-positive-border: var(--green-360);
    --button-outline-positive-border-active: var(--green-530);
    --button-outline-positive-border-hover: var(--green-430);
    --button-outline-positive-text: var(--white-500);
    --button-outline-positive-text-active: var(--white-500);
    --button-outline-positive-text-hover: var(--white-500);
    --button-outline-primary-background: hsl(var(--white-500-hsl)/0);
    --button-outline-primary-background-active: var(--primary-430);
    --button-outline-primary-background-hover: var(--primary-500);
    --button-outline-primary-border: var(--primary-500);
    --button-outline-primary-border-active: var(--primary-430);
    --button-outline-primary-border-hover: var(--primary-500);
    --button-outline-primary-text: var(--white-500);
    --button-outline-primary-text-active: var(--white-500);
    --button-outline-primary-text-hover: var(--white-500);
    --button-positive-background: var(--green-430);
    --button-positive-background-active: var(--green-530);
    --button-positive-background-disabled: var(--green-430);
    --button-positive-background-hover: var(--green-500);
    --button-secondary-background: var(--primary-500);
    --button-secondary-background-active: var(--primary-400);
    --button-secondary-background-disabled: var(--primary-500);
    --button-secondary-background-hover: var(--primary-430);
    --channel-icon: var(--primary-400);
    --channel-text-area-placeholder: var(--primary-430);
    --channels-default: var(--primary-360);
    --channeltextarea-background: var(--primary-560);
    --chat-background: var(--primary-600);
    --chat-border: var(--primary-700);
    --chat-input-container-background: var(--primary-600);
    --control-brand-foreground: var(--brand-360);
    --control-brand-foreground-new: var(--brand-360);
    --creator-revenue-icon-gradient-end: var(--teal-430);
    --creator-revenue-icon-gradient-start: var(--teal-360);
    --creator-revenue-info-box-background: hsl(var(--teal-430-hsl)/0.1);
    --creator-revenue-info-box-border: var(--teal-400);
    --creator-revenue-locked-channel-icon: var(--teal-345);
    --creator-revenue-progress-bar: var(--teal-400);
    --deprecated-card-bg: hsl(var(--primary-700-hsl)/0.6);
    --deprecated-card-editable-bg: hsl(var(--primary-700-hsl)/0.3);
    --deprecated-quickswitcher-input-background: var(--primary-400);
    --deprecated-quickswitcher-input-placeholder: hsl(var(--white-500-hsl)/0.3);
    --deprecated-store-bg: var(--primary-600);
    --deprecated-text-input-bg: var(--primary-700);
    --deprecated-text-input-border: hsl(var(--black-500-hsl)/0.3);
    --deprecated-text-input-border-disabled: var(--primary-700);
    --deprecated-text-input-border-hover: var(--primary-900);
    --deprecated-text-input-prefix: var(--primary-200);
    --display-banner-overflow-background: hsl(var(--primary-700-hsl)/0.5);
    --divider-strong: hsl(var(--white-500-hsl)/0.16);
    --divider-subtle: hsl(var(--white-500-hsl)/0.08);
    --focus-primary: var(--blue-345);
    --forum-post-extra-media-count-container-background: hsl(var(--primary-660-hsl)/0.8);
    --forum-post-tag-background: hsl(var(--primary-660-hsl)/0.9);
    --header-primary: var(--primary-130);
    --header-secondary: var(--primary-330);
    --home-background: var(--primary-645);
    --home-card-resting-border: hsl(var(--transparent-hsl)/0);
    --info-box-background: hsl(var(--blue-345-hsl)/0.1);
    --info-danger-background: hsl(var(--red-400-hsl)/0.1);
    --info-danger-foreground: var(--red-400);
    --info-danger-text: var(--white-500);
    --info-help-background: hsl(var(--blue-345-hsl)/0.1);
    --info-help-foreground: var(--blue-345);
    --info-help-text: var(--white-500);
    --info-positive-background: hsl(var(--green-360-hsl)/0.1);
    --info-positive-foreground: var(--green-360);
    --info-positive-text: var(--white-500);
    --info-warning-background: hsl(var(--yellow-300-hsl)/0.1);
    --info-warning-foreground: var(--yellow-300);
    --info-warning-text: var(--white-500);
    --input-background: var(--primary-700);
    --input-placeholder-text: var(--input-placeholder-text-dark);
    --interactive-active: var(--white-500);
    --interactive-hover: var(--primary-230);
    --interactive-muted: var(--primary-500);
    --interactive-normal: var(--primary-330);
    --live-stage-tile-border: hsl(var(--primary-500-hsl)/0.6);
    --logo-primary: var(--white-500);
    --mention-background: hsl(var(--brand-500-hsl)/0.3);
    --mention-foreground: var(--brand-260);
    --modal-background: var(--primary-600);
    --modal-footer-background: var(--primary-630);
    --profile-gradient-message-input-border: hsl(var(--primary-500-hsl)/0.48);
    --profile-gradient-note-background: hsl(var(--black-500-hsl)/0.3);
    --profile-gradient-overlay: hsl(var(--black-500-hsl)/0.6);
    --profile-gradient-overlay-synced-with-user-theme: hsl(var(--black-500-hsl)/0.8);
    --profile-gradient-profile-body-background-hover: hsl(var(--white-500-hsl)/0.16);
    --profile-gradient-role-pill-background: hsl(var(--primary-660-hsl)/0.5);
    --profile-gradient-role-pill-border: hsl(var(--white-500-hsl)/0.2);
    --profile-gradient-section-box: hsl(var(--black-500-hsl)/0.45);
    --redesign-activity-card-background: var(--primary-560);
    --redesign-activity-card-background-pressed: var(--primary-630);
    --redesign-activity-card-border: hsl(var(--white-500-hsl)/0.02);
    --redesign-button-danger-background: var(--red-430);
    --redesign-button-danger-pressed-background: var(--red-460);
    --redesign-button-danger-text: var(--white-500);
    --redesign-button-overlay-alpha-background: hsl(var(--black-500-hsl)/0.54);
    --redesign-button-overlay-alpha-pressed-background: hsl(var(--black-500-hsl)/0.64);
    --redesign-button-overlay-alpha-text: var(--white-500);
    --redesign-button-overlay-background: var(--white-500);
    --redesign-button-overlay-pressed-background: var(--primary-230);
    --redesign-button-overlay-text: var(--primary-860);
    --redesign-button-positive-background: var(--green-430);
    --redesign-button-positive-pressed-background: var(--green-460);
    --redesign-button-positive-text: var(--white-500);
    --redesign-button-primary-alt-background: hsl(var(--brand-500-hsl)/0);
    --redesign-button-primary-alt-border: var(--brand-360);
    --redesign-button-primary-alt-on-blurple-background: hsl(var(--brand-530-hsl)/0);
    --redesign-button-primary-alt-on-blurple-border: var(--white-500);
    --redesign-button-primary-alt-on-blurple-pressed-background: var(--brand-530);
    --redesign-button-primary-alt-on-blurple-pressed-border: var(--brand-360);
    --redesign-button-primary-alt-on-blurple-text: var(--white-500);
    --redesign-button-primary-alt-pressed-background: hsl(var(--brand-700-hsl)/0.16);
    --redesign-button-primary-alt-pressed-border: hsl(var(--brand-400-hsl)/0.5);
    --redesign-button-primary-alt-pressed-text: var(--brand-360);
    --redesign-button-primary-alt-text: var(--brand-360);
    --redesign-button-primary-background: var(--brand-500);
    --redesign-button-primary-on-blurple-background: var(--white-500);
    --redesign-button-primary-on-blurple-pressed-background: var(--brand-200);
    --redesign-button-primary-on-blurple-pressed-text: var(--brand-530);
    --redesign-button-primary-on-blurple-text: var(--brand-500);
    --redesign-button-primary-pressed-background: var(--brand-560);
    --redesign-button-primary-text: var(--white-500);
    --redesign-button-secondary-alt-background: var(--primary-530);
    --redesign-button-secondary-alt-pressed-background: var(--primary-560);
    --redesign-button-secondary-alt-text: var(--white-500);
    --redesign-button-secondary-background: var(--primary-460);
    --redesign-button-secondary-border: var(--primary-460);
    --redesign-button-secondary-pressed-background: var(--primary-500);
    --redesign-button-secondary-pressed-border: var(--primary-500);
    --redesign-button-secondary-text: var(--white-500);
    --redesign-input-control-selected: var(--brand-500);
    --redesign-only-background-active: var(--primary-530);
    --redesign-only-background-default: var(--primary-700);
    --redesign-only-background-overlay: var(--primary-600);
    --redesign-only-background-raised: var(--primary-630);
    --redesign-only-background-sunken: var(--primary-800);
    --scrollbar-auto-scrollbar-color-thumb: var(--primary-730);
    --scrollbar-auto-scrollbar-color-track: var(--primary-630);
    --scrollbar-auto-thumb: var(--primary-730);
    --scrollbar-auto-track: var(--primary-630);
    --scrollbar-thin-thumb: var(--primary-730);
    --scrollbar-thin-track: hsl(var(--black-500-hsl)/0);
    --spoiler-hidden-background: var(--primary-700);
    --spoiler-revealed-background: var(--primary-660);
    --status-danger: var(--red-400);
    --status-danger-background: var(--red-400);
    --status-danger-text: var(--white-500);
    --status-dnd: var(--red-400);
    --status-idle: var(--yellow-300);
    --status-offline: var(--primary-360);
    --status-online: var(--green-360);
    --status-positive: var(--green-360);
    --status-positive-background: var(--green-430);
    --status-positive-text: var(--white-500);
    --status-warning: var(--yellow-300);
    --status-warning-background: var(--yellow-300);
    --status-warning-text: var(--black-500);
    --text-brand: var(--brand-360);
    --text-danger: var(--red-345);
    --text-link: var(--blue-345);
    --text-link-low-saturation: var(--blue-330);
    --text-muted: var(--primary-360);
    --text-normal: var(--primary-230);
    --text-positive: var(--green-330);
    --text-warning: var(--yellow-300);
    --textbox-markdown-syntax: var(--primary-360);
    --user-profile-header-overflow-background: hsl(var(--primary-700-hsl)/0.5);
    --white: var(--white-500);
}
/* 3. Settings */
.accountProfileCard__22589 .avatar__6c108 {
    transform: translateX(-50%) scale(1.43);
    left: 50%;
    top: 70px;
}
.userInfo__8f826 {
    margin-bottom: 80px;
}
.avatar__6c108~div:not([class]) {
    position: absolute;
    left: 50%;
    transform: translateX(-48%);
    margin-top: 120px !important;
}
.userSettingsSecurity__03e70 .isEnabled__08bc1{
    color: green !important;
}
.lockIcon_cf3a4d{
    filter: contrast(175%) brightness(70%) !important;
}
.picker__6dca7 {
    background-color: var(--background-floating);
    height: 820px;
    width: 531px;
    border-radius: var(--radius-sm);
}
.separator_fdbcfd {
    background: rgba(255, 255, 255, 0.205);
    height: 1.5px !important;
    border-radius: 50px !important;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.377);
}
.background_b61fcc{
    padding: 10px !important;
}
.bannerSVGWrapper__3e7b0 foreignObject {
    mask: none;
}
.theme-dark .badgeList__243e0 {
    border-radius: 8px;
    background-color: #333135;
    margin-top: 5px;
    padding: 2px;
}
.layer__2efaa  .accountProfileCard__22589 .userInfo__8f826 .avatar__6c108 {
    top: 50px !important;
    left: calc(18% - 50px) !important;
}
/*custom user setting profile position*/
.layer__2efaa  .accountProfileCard__22589 .userInfo__8f826 {
    align-items: center;
    justify-content: center;
    width: calc(100% - 34px);
    margin-left: 17px;
    padding: 0;
    padding-top: 65px !important;
    padding-bottom: 5px;
}
.layer__2efaa  .accountProfileCard__22589 .userInfo__8f826 .userTag__4ca14 {
    margin-bottom: 2px;
}
.layer__2efaa  .accountProfileCard__22589 .userInfo__8f826 .container__5bda1 {
    justify-content: center;
    width: 100%;
    margin-bottom: -10px;
}
.layer__2efaa  .accountProfileCard__22589 .userInfo__8f826 .button_afdfd9 {
    position: absolute;
    top: 53px;
    right: 739.1px;
    width: 76px;
    height: 76px;
    min-width: unset;
    min-height: unset;
    padding: 0;
    border-radius: 50px;
    background-color: transparent !important;
    font-size: 0;
    border: none!important;
    box-shadow: none;
    transform: scale(1.5);
    opacity: 0.7;
    transition: 150ms !important;
}
.layer__2efaa  .accountProfileCard__22589 .userInfo__8f826 .button_afdfd9:hover {
    background-color: rgba(0, 0, 0, 0.6) !important;
    box-shadow: none;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="thistle" class="bi bi-pencil-square" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg>') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    transition: 150ms !important;
}
:root .standardSidebarView__1129a .sidebarRegion__60457 {
  flex: unset;
}
:root .standardSidebarView__1129a .sidebarRegion__60457 .sidebar__9e3e2 {
  width: 236px;
  padding: 60px 10px;
}
:root .contentColumn_dc7d36,
:root .customColumn_e22a6e,
:root .hero-1aNo0v,
:root .notificationSettings-1U0JsJ,
:root .noticeRegion__2779f,
:root .customScroller_f72801 > div,
:root .userSettingsVoice-1_dzjw {
  max-width: 92.2%;
}
:root .closeButton__34341,:root .keybind__57645 {
  display: none;
}
:root .accountProfileCard__22589 {
  background-color: var(--background-secondary-alt);
  border-radius: 15px;
  transform: scale(1.08);
  left: 35px !important;
  top: 5px;
}
:root .accountProfileCard__22589 .bannerSVGWrapper__3e7b0 {
    position: absolute;
    -webkit-mask-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
    min-width: 900px !important;
    height: 160px;
    transform: scale(0.9);
    left: -90px;
    bottom: 297px;
}
:root .accountProfileCard__22589 .bannerSVGWrapper__3e7b0 foreignObject {
  mask: none;
  transform: translate(-130px);
}
:root .accountProfileCard__22589 .bannerSVGWrapper__3e7b0 .banner__6d414 {
  background-position: left;
  min-width: 900px;
}
:root .accountProfileCard__22589 .bannerSVGWrapper__3e7b0 .banner__6d414::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.137);
}
:root .accountProfileCard__22589 .userInfo__8f826 {
  height: 100px;
  align-items: center;
}
:root .accountProfileCard__22589 .userInfo__8f826 .avatar__6c108 {
  top: 8px;
  border-color: transparent;
  background-color: transparent;
}
:root .accountProfileCard__22589 .background_b61fcc {
  border-radius: 15px;
}
.constrainedRow_b9e8cf{
    padding: -5px;
    padding-left: 9px !important;
    border-radius: 10px !important;
    transition: 200ms;
}
.constrainedRow_b9e8cf:has(.lookLink__93965.colorLink_b651e5[aria-label="Εμφάνιση διεύθυνσης email"]),
.constrainedRow_b9e8cf:has(.lookLink__93965.colorLink_b651e5[aria-label="Εμφάνιση αριθμού τηλεφώνου"]) {
  filter: blur(6px);
}
/* replacce text settings profile */
.lookFilled__19298.colorPrimary__6ed40[aria-label*="Επεξεργασία εμφανιζόμενου ονόματος"],.lookFilled__19298.colorPrimary__6ed40[aria-label*="Επεξεργασία ονόματος χρήστη"],.lookFilled__19298.colorPrimary__6ed40[aria-label*="Επεξεργασία διεύθυνσης email"],.lookFilled__19298.colorPrimary__6ed40[aria-label*="Επεξεργασία αριθμού τηλεφώνου"]{
    border-radius: 8px !important;
    transition: 200ms !important;
    font-size: 0 !important;
    background-color: var(--background-primary) !important;
    border-color: rgba(255, 255, 255, 0.11) !important;
    box-shadow: 1px 3px 10px 2px var(--background-tertiary)  inset,0px 0px 10px 3px var(--background-tertiary)!important;
    border: 1px solid rgba(255, 255, 255, 0.11);
}
.lookFilled__19298.colorPrimary__6ed40[aria-label*="Επεξεργασία εμφανιζόμενου ονόματος"]::before,.lookFilled__19298.colorPrimary__6ed40[aria-label*="Επεξεργασία ονόματος χρήστη"]:before,.lookFilled__19298.colorPrimary__6ed40[aria-label*="Επεξεργασία διεύθυνσης email"]:before,.lookFilled__19298.colorPrimary__6ed40[aria-label*="Επεξεργασία αριθμού τηλεφώνου"]:before{
    font-size: 13px;
    font-family: 'Merienda', cursive;
    content: "Edit";
}
.lookFilled__19298.colorPrimary__6ed40[aria-label*="Επεξεργασία εμφανιζόμενου ονόματος"]:hover,.lookFilled__19298.colorPrimary__6ed40[aria-label*="Επεξεργασία ονόματος χρήστη"]:hover,.lookFilled__19298.colorPrimary__6ed40[aria-label*="Επεξεργασία διεύθυνσης email"]:hover,.lookFilled__19298.colorPrimary__6ed40[aria-label*="Επεξεργασία αριθμού τηλεφώνου"]:hover{
    background-color: #484b57 !important;
    box-shadow: 1px 3px 10px 5px rgba(24, 27, 31, 0.753) inset,0px 0px 10px 1px var(--background-tertiary)!important;
    transition: 100ms !important;
}
.changePasswordButton__91e39{
    border-radius: 8px !important;
    transition: 200ms !important;
    font-size: 0 !important;
    background-color: var(--background-primary) !important;
    border-color: rgba(255, 255, 255, 0.11) !important;
    box-shadow: 1px 3px 10px 2px var(--background-tertiary)  inset,0px 0px 10px 3px var(--background-tertiary)!important;
    border: 1px solid;
}
.changePasswordButton__91e39::before{
    content: "Replace phone number";
    font-size: 15px !important;
    font-family: 'Merienda', cursive;
    color: white !important;
}
.changePasswordButton__91e39:hover{
    background-color: #484b57 !important;
    box-shadow: 1px 3px 10px 5px rgba(24, 27, 31, 0.753) inset,0px 0px 10px 1px var(--background-tertiary)!important;
    transition: 100ms !important;
}
.userSettingsSecurity__03e70 .children_b15c64 > div.flex_f5fbb7 .h5__884a2.defaultMarginh5__8514a  ~ .flex_f5fbb7 .lookFilled__19298.colorBrand_b2253e{
    border-radius: 8px !important;
    transition: 200ms !important;
    font-size: 0 !important;
    background-color: var(--background-primary) !important;
    border-color: rgba(255, 255, 255, 0.11) !important;
    box-shadow: 1px 3px 10px 2px var(--background-tertiary)  inset,0px 0px 10px 3px var(--background-tertiary)!important;
    border: 1px solid rgba(255, 255, 255, 0.11);
}
.userSettingsSecurity__03e70 .children_b15c64 > div.flex_f5fbb7 .h5__884a2.defaultMarginh5__8514a  ~ .flex_f5fbb7 .lookFilled__19298.colorBrand_b2253e::before{
    font-size: 15px;
    font-family: 'Merienda', cursive;
    content: "View backup";
}
.userSettingsSecurity__03e70 .children_b15c64 > div.flex_f5fbb7 .h5__884a2.defaultMarginh5__8514a  ~ .flex_f5fbb7 .lookFilled__19298.colorBrand_b2253e:hover{
    background-color: #484b57 !important;
    box-shadow: 1px 3px 10px 5px rgba(24, 27, 31, 0.753) inset,0px 0px 10px 1px var(--background-tertiary)!important;
    transition: 100ms !important;
}
.userSettingsSecurity__03e70 .children_b15c64 > div.flex_f5fbb7 .h5__884a2.defaultMarginh5__8514a  ~ .flex_f5fbb7 .lookOutlined__46d54.colorRed_d6b062{
    border-radius: 8px;
    transition: 200ms;
    font-size: 0;
    background-color: var(--background-primary);
    border-color: rgba(255, 255, 255, 0.11) !important;
    box-shadow: 1px 3px 10px 2px var(--background-tertiary)  inset,0px 0px 10px 3px var(--background-tertiary)!important;
}
.userSettingsSecurity__03e70 .children_b15c64 > div.flex_f5fbb7 .h5__884a2.defaultMarginh5__8514a  ~ .flex_f5fbb7 .lookOutlined__46d54.colorRed_d6b062::before{
    content: "Remove 2FA";
    color: azure !important;
    font-size: 16px !important;
    font-family: 'Merienda', cursive;
}
.userSettingsSecurity__03e70 .children_b15c64 > div.flex_f5fbb7 .h5__884a2.defaultMarginh5__8514a  ~ .flex_f5fbb7 .lookOutlined__46d54.colorRed_d6b062:hover{
    background-color: rgb(153, 0, 0) !important;
    box-shadow: 1px 3px 10px 5px rgb(82, 0, 0)  inset,0px 0px 4px 1px rgb(87, 0, 0)!important;
    transition: 200ms !important;
    border-radius: 8px;
    border: 1px solid rgb(255, 0, 0) !important;
}
/* REMOVE SMS,Delete Account button */
[class*="userSettingsSecurity__03e70"] .marginTop40__2b1fe:has(h3.h5__884a2) .children_b15c64 .modeDefault_c1162c + .flex_f5fbb7  .lookOutlined__46d54.colorRed_d6b062,[class*="userSettingsSecurity__03e70"] ~ .marginTop40__2b1fe:has(h2.h5__884a2) .children_b15c64 .buttonContainer__0dac8 .lookOutlined__46d54.colorRed_d6b062,.disableButton__61514 {
    border-radius: 8px !important;
    transition: 200ms !important;
    font-size: 0 !important;
    background-color: var(--background-primary) !important;
    border-color: rgba(255, 255, 255, 0.11) !important;
    box-shadow: 1px 3px 10px 2px var(--background-tertiary)  inset,0px 0px 10px 3px var(--background-tertiary)!important;
    border: 1px solid;
}
[class*="userSettingsSecurity__03e70"] .marginTop40__2b1fe:has(h3.h5__884a2) .children_b15c64 .modeDefault_c1162c + .flex_f5fbb7  .lookOutlined__46d54.colorRed_d6b062::before {
  content: "Remove SmS";
  font-size: 16px !important;
  font-family: 'Merienda', cursive;
}
[class*="userSettingsSecurity__03e70"] .marginTop40__2b1fe:has(h3.h5__884a2) .children_b15c64 .modeDefault_c1162c + .flex_f5fbb7  .lookOutlined__46d54.colorRed_d6b062:hover,[class*="userSettingsSecurity__03e70"] ~ .marginTop40__2b1fe:has(h2.h5__884a2) .children_b15c64 .buttonContainer__0dac8 .lookOutlined__46d54.colorRed_d6b062:hover,.disableButton__61514:hover {
    background-color: rgb(153, 0, 0) !important;
    box-shadow: 1px 3px 10px 5px rgb(82, 0, 0)  inset,0px 0px 4px 1px rgb(87, 0, 0)!important;
    transition: 200ms !important;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.11) !important;
}
.disableButton__61514::before{
    content: "✖️〢Deactivation";
    font-size: 16px !important;
    font-family: 'Playpen Sans', cursive !important;
}
[class*="userSettingsSecurity__03e70"] ~ .marginTop40__2b1fe:has(h2.h5__884a2) .children_b15c64 .buttonContainer__0dac8 .lookOutlined__46d54.colorRed_d6b062::before {
    content: "⚠️〢Delete";
    font-size: 18px !important;
    font-family: 'Playpen Sans', cursive !important;
}
.marginBottom20__64605 {
    margin-bottom: 10px !important;
}
.sidebarRegionScroller__1fa7e{
    box-shadow: -10px 11px 10px -10px var(--background-tertiary)  inset,10px 0px 10px -10px var(--background-tertiary)!important;
    border-radius: 0 30px 30px 0;
}
:root .profileCustomizationSection__88eff .baseLayout_b00434 .profileCustomizationPreview_ccc6a9 .bannerSVGWrapper__3e7b0[viewBox="0 0 340 90"] + .avatarUploader__18c3f, :root .profileCustomizationSection__88eff .baseLayout_b00434 .profileCustomizationPreview_ccc6a9 .bannerSVGWrapper__3e7b0[viewBox="0 0 340 120"] + .avatarUploader__18c3f{
    transform: scale(1.4);
    top: 26px;
    left: 32px !important;
}
.text-md-normal__6a4eb,.text-md-normal__4afad{
    font-family: 'Playpen Sans', cursive !important;
}

.divider_a2339a{
    background: rgb(185, 185, 185);
    height: 2px !important;
    border-radius: 50px !important;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}
[class="credentialList_f9417e"]{
    background-color: var(--background-secondary-alt) !important;
    border-color: rgba(255, 255, 255, 0.11) !important;
    box-shadow: 1px 3px 10px 2px var(--background-secondary-alt)  inset,0px 0px 10px 0px var(--background-secondary-alt)!important;
    border: 1px solid;
    border-radius: 10px;
}
.lookFilled__19298.colorBrand_b2253e{
    border-radius: 8px;
    transition: 200ms;
    background-color: var(--background-primary);
    border-color: rgba(255, 255, 255, 0.11) !important;
    box-shadow: 1px 3px 10px 2px var(--background-tertiary)  inset,0px 0px 10px 3px var(--background-tertiary)!important;
    border: 1px solid rgba(255, 255, 255, 0.13) !important;
}
/* 3.1.1 Προφιλ */
.scrollableContainer__33e06 {
    background-color: black;
    transition: 250ms;
    outline: none;
    border-radius: 8px;
    box-shadow: -0px -0px 2px #00f7ff inset, 0px 0px 2px #00f7ff inset;
}
.after_inlineCode__2197d, .before_inlineCode__37e14, .inlineCode_d702a4{
    background-color: white;
    color: black;
    font-weight: 600;
}
.bannerSVGWrapper__3e7b0 foreignObject {
    mask: none;
}
:root .standardSidebarView__1129a .sidebarRegion__60457 {
  flex: unset;
}
:root .standardSidebarView__1129a .sidebarRegion__60457 .sidebar__9e3e2 {
  width: 242px;
  padding: 60px 10px;
}
:root .contentColumn_dc7d36,
:root .customColumn_e22a6e,
:root .hero-1aNo0v,
:root .notificationSettings-1U0JsJ,
:root .noticeRegion__2779f,
:root .customScroller_f72801 > div,
:root .userSettingsVoice-1_dzjw {
  max-width: 93%;
}
:root .profileCustomizationSection__88eff .baseLayout_b00434 {
  flex-direction: column;
}
:root .profileCustomizationSection__88eff .baseLayout_b00434 .profileCustomizationPreview_ccc6a9 .avatarUploader__18c3f {
  position: relative;
  width: 80px;
  z-index: 1;
}
:root .profileCustomizationSection__88eff .baseLayout_b00434 .profileCustomizationPreview_ccc6a9 .avatarUploader__18c3f .status_be3f03 {
  background-color: transparent;
}
.labelDescriptor__6432e, .description__7af71{
    display: none;
}
/* 3.1.2 Απορρητο & Ασφαλεια */
.radioBar__40e1b.radioPositionLeft__1d40a{
    border-radius: 12px !important;
    background-color: rgb(0, 0, 0) !important;
}
.itemFilled__373d7{
    background-color:   transparent !important;
}
[aria-checked=true].item_b7fb7e .radioBar__40e1b {
    background-color: var(--radio-bar-accent-color, var(--main-color)) !important;
}
.marginBottom20__64605 {
    margin-bottom: 10px !important;
}
.container__871ba .slider__41d94 > svg > path, .container__871ba .slider__41d94 > rect {
    fill: white !important;
}
.container__871ba .slider__41d94 {
    margin-top: -2px;
    margin-left: -4px;
}
.container__871ba.checked__6bdb0 .slider__41d94 {
    margin-left: 3.5px;
}
.container__871ba.checked__6bdb0 .slider__41d94 > svg > path, .container__871ba.checked__6bdb0 .slider__41d94 > rect {
    fill: white !important;
}
.container__871ba:has(.slider__41d94) {
    height: 14px;
    width: 38px !important;
}
.container__871ba.checked__6bdb0:has(.slider__41d94) {
    background-color: rgb(0, 86, 185) !important;
}
.labelDescriptor__6432e, .description__7af71{
    display: none;
}
.divider_a2339a{
    background: rgb(185, 185, 185);
    height: 2px !important;
    border-radius: 50px !important;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}
.lookOutlined__46d54.colorBrand_b2253e{
    border-radius: 8px;
    transition: 200ms;
    font-size: 0;
    background-color: var(--background-primary);
    border-color: rgba(255, 255, 255, 0.11) !important;
    box-shadow: 1px 3px 10px 2px var(--background-tertiary)  inset,0px 0px 10px 3px var(--background-tertiary)!important;
}
.lookOutlined__46d54.colorBrand_b2253e::before{
    content: "Αίτηση δεδομένων";
    color: azure !important;
    font-size: 13px !important;
    font-family: 'Merienda', cursive;
}
.lookOutlined__46d54.colorBrand_b2253e:hover{
    background-color: rgb(141, 68, 0) !important;
    box-shadow: 1px 3px 10px 5px rgb(89, 43, 0) inset,0px 0px 4px 1px rgb(89, 43, 0)!important;
    transition: 200ms !important;
    border-radius: 8px;
    border: 1px solid rgb(208, 100, 0) !important;
}
.card__4dc22:not(.outline_cb0aed){
    border: transparent !important;
}
/* 3.1.3 Κέντρο οικογένειας */
.container__6968f,.container__9c82e,.container__9f90c {
    background-color: #000;
    border-radius: 15px;
    border: 1.4px solid rgb(255, 255, 255);
    width: 740px !important;
}
.row_c1b980{
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(0, 114, 114) inset;
}
.lookFilled__19298.colorBrand_b2253e {
    border-radius: 10px;
}
.box__6431e {
    padding: 24px;
    background: #000;
    border: 1.4px solid rgb(255, 255, 255);
    border-radius: 12px;
}

/* 3.1.4 Εξουσιοδοτημένες εφαρμογές */
















/*end*/
[class="credentialList_f9417e"]{
    background-color: var(--background-secondary-alt) !important;
    border-color: rgba(255, 255, 255, 0.11) !important;
    box-shadow: 1px 3px 10px 2px var(--background-secondary-alt)  inset,0px 0px 10px 0px var(--background-secondary-alt)!important;
    border: 1px solid;
    border-radius: 10px;
}
.lookFilled__19298.colorBrand_b2253e{
    border-radius: 8px;
    transition: 200ms;
    background-color: var(--background-primary);
    border-color: rgba(255, 255, 255, 0.11) !important;
    box-shadow: 1px 3px 10px 2px var(--background-tertiary)  inset,0px 0px 10px 3px var(--background-tertiary)!important;
    border: 1px solid rgba(255, 255, 255, 0.13) !important;
}
[class="inputDefault__80165 input_d266e7"]{
    border-radius: 8px;
    transition: 200ms;
    background-color: var(--background-secondary-alt) !important;
    border-color: rgba(255, 255, 255, 0.11) !important;
    border: 1px solid rgba(255, 255, 255, 0.11) !important;
    box-shadow: 1px 3px 10px 2px var(--background-tertiary)  inset,0px 0px 10px 3px var(--background-tertiary)!important;
}
.labelDescriptor__6432e, .description__7af71{
    display: none;
}